html, body {
  margin: 0;
  padding: 0;
  font-family: "Verdana"
}

td, th{
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  margin: 0;
  padding: 5px 5px 5px 5px;
}

table, td, tr, th {
  border-spacing: 0px;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0.5px solid black;
}

table tr:first-child td,
table tr:first-child th {
  border-top: 0.5px solid black;
}


h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
}

h2 {
  text-align: center;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 5px;
}

section {
  display: block;
  margin-bottom: 1cm;
}

html, body {
  font-size: 0.9em;
}

table.sequence_table tr td:first-child {
  font-weight: bold;
  width: 4cm;
}

table.def_table tr td, table.def_table tr th, table.def_table tr{
  border: 0px;
}

table.def_table tr td:last-child {
  font-weight: bold;
  padding-left: 5px;

}

table.def_table td:first-child{
  width: 4cm;
}

@page {
  size: A4;
}

pre {
  font-family: inherit;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
