@import './print.css';

@page {
  -weasy-size: A4 landscape;
  margin: 2cm;
}

section {
}

table.seance_table {
  width: 100%;
}

table.seance_table td, th{
  font-size: 0.9em;
}

table.seance_table th {
  vertical-align: middle;
  font-size: 0.9em;
}

table.seance_table td {
  font-size: 0.6em;
  padding-top: 10px;
  padding-bottom: 10px;
}
