html, body {
background-image: -webkit-gradient(
    linear,
    center bottom,
    center top,
    color-stop(0, rgb(63,68,153)),
    color-stop(0.84, rgb(126,176,222))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(63,68,153) 0%,
    rgb(126,176,222) 84%
);
}

body {
  padding-bottom: 40px;
}

header {
}

section.content {
    padding: 80px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: black;
    margin-left: 90px;
    margin-right: 90px;
	margin-top: 40px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.05, rgb(245,245,245)),
        color-stop(0.53, rgb(232,232,232))
    );
    background-image: -moz-linear-gradient(
        left top,
        rgb(245,245,245) 5%,
        rgb(232,232,232) 53%
    );
}

form label {
  clear: both;
  display: inline-block;
}

form input, form .dijitTextBox, form .dijitSelect{
  clear: both;
  display: block;
}

ul[data-islist] {
  padding-left: 0px;
}

ul[data-islist] li input, ul[data-islist] li .dijitTextBox{
  display: inline-block;
}

ul[data-islist] li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.removeButton {
  width: 16px;
  cursor: pointer;
  height: 16px;
  line-height: 24px;
  background-image: url('/static/img/del.png');
  background-repeat: no-repeat;
  font-size: 0em;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.addButton {
  clear: both;
}

.addIcon{
  width: 32px;
  cursor: pointer;
  height: 32px;
  line-height: 48px;
  background-image: url('/static/img/add.png');
  background-repeat: no-repeat;
  font-size: 0em;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.upIcon{
  width: 16px;
  cursor: pointer;
  height: 16px;
  line-height: 24px;
  background-image: url('/static/img/up.png');
  background-repeat: no-repeat;
  font-size: 0em;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.upIcon.big{
  background-image: url('/static/img/up_big.png');
}

.downIcon{
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 24px;
  background-image: url('/static/img/down.png');
  background-repeat: no-repeat;
  font-size: 0em;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.downIcon.big{
  background-image: url('/static/img/down_big.png');
}


.editIcon{
  cursor: pointer;
  width: 32px;
  height: 32px;
  line-height: 48px;
  background-image: url('/static/img/edit.png');
  background-repeat: no-repeat;
  font-size: 0em;
  margin: 0;
  display: inline-block;
}


.pdfIcon{
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 24px;
  background-image: url('/static/img/pdf.png');
  background-repeat: no-repeat;
  font-size: 0em;
  margin: 0;
  display: inline-block;
}

.copyIcon{
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 24px;
  background-image: url('/static/img/copy.png');
  background-repeat: no-repeat;
  font-size: 0em;
  margin: 0;
  display: inline-block;
}


.big {
  width: 32px;
  line-height: 48px;
  height: 32px;
}


.pdfIcon.big {
  background-image: url('/static/img/pdf_big.png');
}




header {
  height: 40px;
}

header form input, header form label {
  display: inline-block;
  font-size: 0.8em;
}

header form {
  float: right;
}


dd, dt{
  min-height: 2em;
}

dd {
  margin-right: 10px;
  display: inline-block;
}

dt {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
}

dt:after {
  content: ":"
}

dl {
  display: inline-block;
}

table td, table th {
  border: solid 1px black;
  padding: 6px;
}

ul.seance_list li:first-child .upIcon,
ul.seance_list li:last-child .downIcon{
  display: none;
}

table  li {
  margin-left: 25px;
}

table.sequence_table tr td:first-child {
  font-weight: bold;
}

table.seance_table th {
  font-weight: bold;
}

table.seance_table tr:last-child .downIcon,
table.seance_table tr:first-child .upIcon {
  display: none;
}

table.seance_table {
  font-size: 0.8em;
}

table.seance_table tr td:first-child {
  border-right: none;
}


table.seance_table tr td:nth-child(2) {
  border-left: none;
  border-right: none;
}

table.seance_table tr td:nth-child(3) {
  border-left: none;
}


table.seance_table tr.empty td:first-child {
  border: solid 1px black;
}



a, a:visited {
  color: #0042A2;
  text-decoration: none;
}

h1, h2 {
  color: #0084B4;
  font-size: 2em;
}

h3 {
  color: #0084B4;
  font-size: 1.6em;
}

h4 {
  color: #0042A2;
  font-size: 1.2em;
}


ul {
  list-style: disc;
  padding-left: 30px;
}

.preslist ul {
  margin-left: 40px;
}

table {
  border-collapse: collapse;
}

table ul {
  list-style: dash;
  padding-left: 0px;
}

header {
  background-color: black;
  color: #00A6D6;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.3em;
}

ul.breadcrumb {
  list-style: none;
  display: inline;
  float: left;
}

ul.breadcrumb a {
  color: #00A6D6;
}

ul.breadcrumb a:visited {
  color: #00A5D6;
}

ul.breadcrumb li {
  display: inline-block;
}

ul.breadcrumb li:before {
  content: ' > '
}

ul.breadcrumb li:first-child:before {
  content: ''
}

section {
	padding-left: 30px;
}
