<html>
<head>
	<meta charset="UTF-8">
	<title>{{ sequence.title}}</title>
  	<link rel="stylesheet" href="./css/print.css"/>
</head>
<body>
<h2>Résumé des séances</h2>
{% for seance in sequence.seances %}
  <article>
    <h3>Séance n°{{ loop.index}}: {{seance.title}}</h3>
    <p>{{(seance.summary | replace('\r', '<br/>')) or 'Résumé indisponible'}}</p>
  </article>
{% endfor %}
</body>
