{% macro gen_list_cell(values) %}
	<td>
	  <ul>
		{% for value in values or [] %}
		  <li>{{value}}</li>
		{% endfor %}
	  </ul>
	 </td>
{% endmacro %}

{% macro gen_ligne(title, attr, sequence) %}
  {% if sequence[attr] %}
  <tr>
	<td>{{ title }}</td>
	{{ gen_list_cell(sequence[attr]) }}
  </tr>
  {% endif %}
{% endmacro %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ sequence.title}}</title>
  	<link rel="stylesheet" href="./static/css/print.css"/>
</head>
<body>
<section>
<h1>Fiche de préparation</h1>
  <article>
	<table class="def_table">
	  <tr><td>Niveau</td><td>{{ sequence.topic_assoc.grade.label}}</td></tr>
	  <tr><td>Domaine disciplinaire</td><td>{{ sequence.topic_assoc.domain.label}}</td></tr>
	  <tr><td>Discipline</td><td>{{ sequence.topic_assoc.topic.label}}</td></tr>
	  <tr><td>Nombre de séances</td><td>{{ sequence.seances | count}}</td></tr>
	</table>
	<h2>Titre de la séquence: {{ sequence.title }}</h2>
	<table class="sequence_table">
		{{ gen_ligne('Programmes', 'programmes', sequence) }}
		{{ gen_ligne('Socle Commun', 'socles', sequence) }}
		{{ gen_ligne('Pré-requis', 'prerequis', sequence) }}
		{{ gen_ligne('Compétences visées', 'competences', sequence) }}
		{{ gen_ligne('Objectifs', 'objectifs', sequence) }}
		{{ gen_ligne("Tâches de l'élève", 'taches', sequence) }}
		{{ gen_ligne("Rôles de l'enseignant", 'roles', sequence) }}
		<tr><td>Matériel PE</td>{{ gen_list_cell(materiel_pe) }}</tr>
		<tr><td>Matériel élève</td>{{ gen_list_cell(materiel_eleve) }}</tr>
	</table>
  </article>
</section>
</body>
</html>
