<!doctype html>
<html>
<head>
  <title>Littlefish</title>
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js" type="text/javascript" data-dojo-config="parseOnLoad: true"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dijit/dijit.xd.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dijit/dijit-all.xd.js" type="text/javascript"></script>
  <script src="/static/js/coffee-script.js"></script>
  <script type="text/coffeescript" src="/static/coffee/forms.coffee"></script>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dijit/themes/nihilo/nihilo.css" />
  <meta charset="UTF-8">
</head>
<body class="nihilo">
  <header>
  <ul class="sequence">
  {% for category, msgs in get_flashed_messages(with_categories=true) | sort(0) | groupby(0) %}
  <li class="message {{ category }}">
  	{% for category, msg in msgs %}
		{{ msg }}
  	{% endfor %}
  </li>
  {% endfor %}
  </ul>
  <ul class="breadcrumb">
	<li><a href="/">Accueil</a></li>
  {% for link, url in g.breadcrumb %}
	<li><a href="{{url}}">{{link}}</a></li>
  {% endfor %}
  </ul>
  {% if session.classe %}
  <form action="{{url_for('change_class')}}" method="post">
	<label for="classe">Classe</label>
	<select name="classe" id="classe">
	  {% for classe in g.classes %}
	  <option value="{{classe.code}}" {{'selected="selected"' if classe.code == session.classe}}>{{classe.code}}</option>
	  {% endfor %}
	</select>
	<input type="submit" value="Changer!"/>
  </form>
  {% endif %}
  </header>
  <section class="content">
  <h1>{% block title %}Little fish{% endblock title %}</h1>
  {% block content %}{% endblock content %}
  </section>
</body>
</html>
