<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Littlefish</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='js/dojo/1.6.1/dijit/themes/nihilo/nihilo.css')}}" />
  <script src="{{url_for('static', filename='js/dojo/1.6.1/dojo/dojo.js')}}" type="text/javascript" data-dojo-config="parseOnLoad: true"></script>

  <script src="{{url_for('static', filename='js/dojo/1.6.1/dijit/dijit.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/dojo/1.6.1/dijit/dijit-all.js')}}" type="text/javascript"></script>

  <script src="/static/js/coffee-script.js"></script>
  <script src="/static/js/jquery-latest.js""></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/coffeescript" src="/static/coffee/forms.coffee"></script>
</head>
<body class="nihilo">

  <header>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <a class="brand" href="{{url_for('index')}}">Littlefish</a>
	  <a class="brand" href="#">{{ session.classe }}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{url_for('index')}}">Accueil</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fiches<b class="caret"></b></a>
		<ul class="dropdown-menu">
		{% if session.user %}
		<li><a href="{{url_for('user_sequences', user=session.user)}}">Mes fiches</a></li>
		{% endif %}
                  <li><a href="{{url_for('user_sequences')}}">Toutes les fiches</a></li>
                </ul>
              </li>
          <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{session.classe or 'Classes'}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
              {% for classe in g.classes %}
                  <li {{'class="active"' if classe.code == session.classe}}><a href="{{url_for('change_class', classe=classe.code)}}">{{classe.code}}</a></li>
              {% endfor %}
                </ul>
          </li>
	  <li><a href="mailto:ronan@dunklau.fr">Contact</a></li>
          <li>
            {% if not session['user'] %}
            <form class="navbar-form pull-right" action="{{url_for('login')}}" method="POST">
              <input class="span2" name="login" type="text" placeholder="Login">
              <input class="span2" name="password" type="password" placeholder="Password">
              <button type="submit" class="btn">Se connecter</button>
            </form>
            {% else %}
            <a class="pull-right" href="{{url_for('disconnect')}}">Déconnexion</a>
            {% endif %} 
          </li>
          </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </header>

  <section class="content container">
  {% for category, msgs in get_flashed_messages(with_categories=true) | sort(0) | groupby(0) %}

  <div class="alert alert-block alert-{{category}}">
  	{% for category, msg in msgs %}
		{{ msg }}
	{% endfor %}
  </div>
  {% endfor %}
  {% if not session.classe %}
  <div class="alert alert-danger">
     Vous devriez choisir une classe avant toute chose (menu du haut)
  </div>
  {% endif %}
  <div class="hero-unit">
  <h1>{% block title %}Little fish{% endblock title %}</h1>

  {% block content %}{% endblock content %}
  </div>
  </section>
</body>
</html>
