{% extends '_layout.jinja2' %}

{% block title %}
Bienvenue sur littlefish
{% endblock title %}

{% block content %}
<p>Littlefish est une application dédiée à la production de <b>fiches de préparation</b>. <br/>
Les fiches de préparation sont destinées à être consultées en <b>PDF</b> pour une 
présentation exhaustive et claire de leur contenu<br/>

Il est développé par Ronan Dunklau sur une idée originale de Anne Dupressoir. <br/>
Le code source est disponible <a href="http://github.com/rdunklau/littlefish">ici</a>
</p>
<a href="{{url_for('user_sequences', user=session.user)}}" class="btn btn-primary btn-large">Voir les fiches</a>
<a href="{{url_for('register')}}" class="btn btn-success">Créer un compte</a>

{% endblock content %}
