{% extends '_layout.jinja2' %}
{% block title %} {{seance.title}} 
{% if seance.user_login == session.user %}
<a class="editIcon" title="Modifier" href="{{url_for('edit_seance', seance_id=seance.id)}}">Modifier</a> {% endif %} {% endblock title %}

{% block content %}
<article>
    <pre>{{seance.summary or 'Résumé non renseigné'}}</pre>
    <h2>Étapes {% if session.user == seance.user_login %}<a title="Ajouter une étape" class="addIcon" href="{{url_for('add_etape', seance_id=seance.id)}}">Ajouter</a>{% endif %}</h2>
	<table class="seance_table">
	  <thead>
		<tr>
		<th colspan="3">Étapes (temps)</th>
		<th>Objectif</th>
		<th>Dispositif</th>
		<th>Déroulement</th>
		<th>Matériel</th>
		<th>Consignes / Critère de réussite</th>
		<th>Rôle PE</th>
	  </tr>
	  </thead>
	  <tbody>
	  {% for etape in seance.etapes %}
	  <tr>
        <td>

          {% if etape.user_login == session.user %}
		  <a class="upIcon big" href="{{url_for('move_etape', etape_id=etape.etape_id, direction='up')}}">Monter</a>
          <a class="downIcon big" href="{{url_for('move_etape', etape_id=etape.etape_id, direction='down')}}">Descendre</a>
          {% endif %}
		</td>
        <td>

          {% if etape.user_login == session.user %}
          <a class="editIcon" href="{{url_for('edit_etape', seance_id=seance.id, ordinal=etape.ordinal)}}" title="Édition">modifier</a>
          {% endif %}
	  </td>
		<td>{{etape.title}} {{etape.time}} </td>
		<td>{{etape.objectif}}</td>
		<td>
		  <ul>
			{% for dispositif in etape.dispositif or []%}
			<li>{{dispositif}}</li>
			{% endfor %}
		  </ul>
		</td>
		<td>
		  <ul>
			{% for deroulement in etape.deroulement or []%}
			<li>{{deroulement}}</li>
			{% endfor %}
		  </ul>
		</td>
		<td>
		  <ul>
			{% for materiel in (etape.materiel_pe + etape.materiel_eleve) or []%}
			<li>{{materiel}}</li>
			{% endfor %}
		  </ul>
		</td>
		<td>
		  <ul>
			{% for consignes_criteres in etape.consignes_criteres or []%}
			<li>{{consignes_criteres}}</li>
			{% endfor %}
		  </ul>
		</td>
		<td>
			<ul>
			{% for role in etape.pe_role or []%}
			<li>{{role}}</li>
			{% endfor %}
		  </ul>
		</td>
	  </tr>
	  {% else %}
	  <tr class="empty"><td colspan="9">Aucune étape pour le moment</td></tr>
	  {% endfor %}
	  </tbody>
	</table>
	</ul>

  </article>
{% endblock %}
