{% extends '_layout.jinja2' %}
{% block title %} Séquence : {{sequence.title}} {% endblock title %}

{% block content %}
  <article>
	<h2>{{ sequence.title }}</h2>
	<dl>
	  <dt>Niveau</dt><dd>{{sequence.topic_assoc.grade.label}}</dd>
	  <dt>Domaine disciplinaire</dt><dd>{{sequence.topic_assoc.domain.label}}</dd>
	  <dt>Discipline</dt><dd>{{sequence.topic_assoc.topic.label}}</dd>
	</dl>
	<a href="{{url_for('add_seance', sequence_id=sequence.id)}}">Ajouter une séance</a>
	<ul>	
	  {% for seance in sequence.seances %}
	  <li><a href="{{url_for('seance', seance_id=seance.id)}}">{{seance.title}}</a></li>
	  {% else %}
		<li>Aucune séance pour le moment</li>
	  {% endfor %}
	</ul>

  </article>
{% endblock %}
