{% extends '_layout.jinja2' %}

{% block title %}
Séquences {{"pour la classe %s" % session.classe if session.classe }}
{% if session.user %}<a title="Ajouter une séquence" class="addIcon" href="{{url_for('add_sequence')}}">Ajouter</a> {% endif%}
{% endblock title %}
{% block content %}
<div class="btn-group">
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
Domaine
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li {{'class="active"' | safe if not domain_code}}>
<a href="{{url_for('user_sequences', user=user)}}">Tous les domaines</a></li>
{% for domain in domains %}
  <li {{'class="active"' | safe if domain.code == domain_code}}>
<a href="{{url_for('domain', domain=domain.code, user=user)}}">{{domain.label}}</a></li>
{% endfor %}
</ul>
</div>
{% for domain_code, sequences in sequences  | groupby('topic_assoc.domain_code') %}
	<section>
	<h3>{{sequences[0].topic_assoc.domain.label}}</h3>
	{% for topic_code, sequences in sequences  | groupby('topic_assoc.topic_code') %}
	  <section>
	  <h4>{{sequences[0].topic_assoc.topic.label}}</h4>
	  <ul>
	  {% for sequence in sequences %}
		<li>
		{% set count = sequence.seances | count %}
		<a href="/sequence/{{sequence.id}}">{{sequence.title}} <small>( {{count}} séance{{'s' if count > 1 }}, par {{sequence.user.fullname}} ) </small> </a>
		<a class="pdfIcon" title="Imprimer" href="{{url_for('sequence_pdf', sequence_id=sequence.id)}}">Imprimer</a>
		<a class="copyIcon" title="Copier" href="{{url_for('copy_sequence', sequence_id=sequence.id)}}">Copier</a>
		</li>
	   {% endfor %}
      </ul>
      </section>
        {% endfor %}
    </section>

{% else %}
    {% if not user %}
    Aucune séquence dans la classe {{ session.classe }}
    {% else %}
    Aucune séquence pour {{ user }} dans la classe {{ session.classe }}
    {% endif %}

{% endfor %}
{% endblock content %}
