{% extends '_layout.jinja2' %}
{% block title %} Séquence : {{sequence.title}}
<br/><small>( par <a href="{{url_for('user_sequences', user=sequence.user_login)}}">{{sequence.user.fullname}}</a> )</small>
{% if sequence.user_login == session.user %}
<a class="editIcon" title="Modifier" href="{{url_for('edit_sequence', sequence_id=sequence.id)}}">Modifier</a>
{% endif %}
<a class="pdfIcon big" title="Imprimer" href="{{url_for('sequence_pdf', sequence_id=sequence.id)}}">Imprimer</a>
{% endblock title %}

{% macro gen_ligne(title, attr, sequence) %}
  <tr>
	<td>{{title}}</td>
	<td>
	  <ul>
		{% for value in sequence[attr] or [] %}
		  <li>{{value}}</li>
		{% endfor %}
	  </ul>
	 </td>
  </tr>
{% endmacro %}

{% block content %}
  <article>
	<dl>
	  <dt>Niveau</dt><dd>{{sequence.topic_assoc.grade.label}}</dd>
	  <dt>Domaine disciplinaire</dt><dd>{{sequence.topic_assoc.domain.label}}</dd>
	  <dt>Discipline</dt><dd>
	  {{sequence.topic_assoc.topic.path | join(",")}}
	  </dd>
	</dl>
	<table class="sequence_table">
	  <tbody>
		{{ gen_ligne('Programmes', 'programmes', sequence) }}
		{{ gen_ligne('Socle Commun', 'socles', sequence) }}
		{{ gen_ligne('Pré-requis', 'prerequis', sequence) }}
		{{ gen_ligne('Compétences visées', 'competences', sequence) }}
		{{ gen_ligne('Objectifs', 'objectifs', sequence) }}
		{{ gen_ligne("Tâches de l'élève", 'taches', sequence) }}
		{{ gen_ligne("Rôles de l'enseignant", 'roles', sequence) }}
		{{ gen_ligne("Matériel PE", 'materiel_pe', sequence) }}
		{{ gen_ligne("Matériel élève", 'materiel_eleve', sequence) }}
	  </tbody>
	</table>
  <section class="preslist">
    <h2 id="seances">Séances {% if session.user == sequence.user_login %} <a title="Ajouter une séance" class="addIcon" href="{{url_for('add_seance', sequence_id=sequence.id)}}">Ajouter</a> {% endif %}</h2>
	<ol class="seance_list">	
	  {% for seance in sequence.seances %}
	  <li>
      <a href="{{url_for('seance', seance_id=seance.id)}}">{{seance.title}} ({{seance.etapes | count }} étape{{'s' if seance.etapes|count > 1}})</a>

          {% if sequence.user_login == session.user %}
		  <a class="upIcon" href="{{url_for('move_seance', seance_id=seance.id, direction='up')}}">Monter</a>
          <a class="downIcon" href="{{url_for('move_seance', seance_id=seance.id, direction='down')}}">Descendre</a>
          {% endif %}
		</li>
	  {% else %}
		<li>Aucune séance pour le moment</li>
	  {% endfor %}
	</ol>
	</section>
  </article>
{% endblock %}
